1) Use a config file from kpnr. In my case it is located in R_USER path. Maybe a good idea to create another environmental variable and put it in the instructions so that anyone can load the file from any system

I added couple of lines to a config.yaml file:

postgres: user and password

2) I downloaded postgressql and created the schema+tables using postgres_create_tables.sql script

In [1]:
import os
import sqlalchemy
import ruamel.yaml as yaml
import pandas as pd
import time
import datetime
from random import randint

In [2]:
def getConnection():
    global config
    global engine
    config = yaml.load(open(os.environ['R_USER']+"\\.kpnr\\config.yaml")) ## needs to be changed to 
    engine = sqlalchemy.create_engine("postgresql://"+config.get('postgres').get('username')+":"+config.get('postgres').get('password')+"@localhost:5432/postgres")
    return engine

## here add extra options (getConnection to TD/postgressql; if statements: Jenkins user or normal user; streamAPI option)

In [3]:
def addModelId(model_id, model_description, score_id_type):
    check_model_id = pd.read_sql("select * from model_factory.model_overview where model_id='"+model_id+"'", engine)
    if len(check_model_id) > 0:
        raise ValueError('Given model_id is already present in model_factory.model_overview table')
    else:
        df = pd.DataFrame(zip([model_id], [model_description], [score_id_type])
             , columns=['model_id','model_description', 'score_id_type'])
        df.to_sql("model_overview", engine,  schema="model_factory", if_exists='append', index = False) ## it will add rows to model_overview table

In [4]:
def deleteModelId(model_id):
    check_model_id = pd.read_sql("select * from model_factory.model_overview where model_id='"+model_id+"'", engine)
    if len(check_model_id) == 0:
        raise ValueError('Given model_id is already removed from model_factory.model_overview table')
    else:
        connection = engine.connect()
        connection.execute("delete from model_factory.model_overview where model_id='"+model_id+"'")
        connection.close()

In [5]:
def updateThreshold(model_id, threshold_value, threshold_type):
    check_model_id = pd.read_sql("select * from model_factory.model_overview where model_id='"+model_id+"'", engine)
    if len(check_model_id) == 0:
        raise ValueError('Given model_id is not present in model_factory.model_overview table. Please use function addModelId first')
    else:
        if (threshold_type != "probability" and threshold_type != "population"):
            raise ValueError('Given threshold type is not population or probability')
        else:
            connection = engine.connect()
            connection.execute("update model_factory.model_overview set threshold_value='"+threshold_value+"', threshold_type='"+
                               threshold_type+"' where model_id='"+model_id+"'")
            connection.close()

In [6]:
def getSessionId(model_id):
    global session_id
    ## check whether model_id is present in model_overview table -> throw an error if not
    check_model_id = pd.read_sql("select * from model_factory.model_overview where model_id='"+model_id+"'", engine)
    if len(check_model_id) == 0:
        raise ValueError('Given model_id is not present in model_factory.model_overview table. Please use function addModelId first')
    else:
        session_id = config.get('postgres').get('username')+"_"+model_id+"_"+datetime.datetime.fromtimestamp(time.time()).strftime('%Y%m%d')+"_"+str(randint(1000, 1000000))
        df = pd.DataFrame(zip([session_id], [config.get('postgres').get('username')], [model_id], [datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')])
                 , columns=['session_id','user_id', 'model_id', 'start_time'])
        df.to_sql("run_history", engine,  schema="model_factory", if_exists='append', index = False) ## it will add rows to run_history table
        return session_id

In [7]:
def closeSession():
    connection = engine.connect()
    connection.execute("update model_factory.run_history  SET end_time ='"+str(datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'))+"' where session_id='"
                       +session_id+"'")
    connection.close()   
## add streamAPI option

In [ ]:
def deleteSession(session_id):
    connection = engine.connect()
    try:
        connection.execute("delete from model_factory.model_summary WHERE session_id='"+session_id+"'")
    except:
        pass
    try:
        connection.execute("delete from model_factory.model_scores WHERE session_id='"+session_id+"'")
    except:
        pass
    try:
        connection.execute("delete from model_factory.model_test_results WHERE session_id='"+session_id+"'")
    except:
        pass
    try:
        connection.execute("delete from model_factory.model_backtesting WHERE session_id='"+session_id+"'")
    except:
        pass
    try:
        connection.execute("delete from model_factory.metadata_table WHERE session_id='"+session_id+"'")
    except:
        pass
    try:
        connection.execute("delete from model_factory.run_history WHERE session_id='"+session_id+"'")
    except:
        pass
    connection.close()

In [ ]:
def renameModel(old_model_id, new_model_id):
    
    connection = engine.connect()
    
    check_old_model_id = pd.read_sql("select * from model_factory.model_overview where model_id='"+old_model_id+"'", engine)
    check_old_model_id1 = pd.read_sql("select * from model_factory.run_history where model_id='"+old_model_id+"'", engine)
    check_new_model_id = pd.read_sql("select * from model_factory.model_overview where model_id='"+new_model_id+"'", engine)
    
    if len(check_old_model_id) == 0:
        raise ValueError('Given old_model_id is not present in model_factory.model_overview table, therefore can not be renamed')
    if len(check_new_model_id) > 0:
        raise ValueError('Given new_model_id is already present in model_factory.model_overview table, therefore can not be used for renaming')
    if (len(check_old_model_id) > 0 and len(check_old_model_id1) == 0):
        try:
            connection.execute("Update model_factory.model_overview set model_id='"+new_model_id+"' where model_id="+old_model_id+"'")
        except:
            pass
    else:
        try:
            connection.execute("update model_factory.model_scores set session_id= replace(session_id,'_"
                               +old_model_id+"_','_"+new_model_id+"_') where session_id like '%_"+old_model_id+"_%'")
        except:
            pass
        try:
            connection.execute("update model_factory.metadata_table set session_id= replace(session_id,'_"
                               +old_model_id+"_','_"+new_model_id+"_') where session_id like '%_"+old_model_id+"_%'")
        except:
            pass
        try:
            connection.execute("update model_factory.model_backtesting set session_id= replace(session_id,'_"
                               +old_model_id+"_','_"+new_model_id+"_') where session_id like '%_"+old_model_id+"_%'")
        except:
            pass
        try:
            connection.execute("update model_factory.model_summary set session_id= replace(session_id,'_"
                               +old_model_id+"_','_"+new_model_id+"_') where session_id like '%_"+old_model_id+"_%'")
        except:
            pass
        try:
            connection.execute("update model_factory.model_store set session_id= replace(session_id,'_"
                               +old_model_id+"_','_"+new_model_id+"_') where session_id like '%_"+old_model_id+"_%'")
        except:
            pass
        try:
            connection.execute("update model_factory.model_test_results set session_id= replace(session_id,'_"
                               +old_model_id+"_','_"+new_model_id+"_') where session_id like '%_"+old_model_id+"_%'")
        except:
            pass
        try:
            connection.execute("update model_factory.model_varimp set session_id= replace(session_id,'_"
                               +old_model_id+"_','_"+new_model_id+"_') where session_id like '%_"+old_model_id+"_%'")
        except:
            pass
        try:
            connection.execute("insert into model_factory.run_history select replace(session_id,'_"
                               +old_model_id+"_','_"+new_model_id+"_') as session_id, user_id, '"+new_model_id+
                               "' as model_id, start_time, end_time, last_exported from model_factory.run_history where model_id='"+
                               old_model_id+"'")
        except:
            pass
        try:
            connection.execute("delete from model_factory.run_history where model_id='"+old_model_id+"'")
        except:
            pass
        try:
            connection.execute("update model_factory.model_overview set model_id='"+new_model_id+"' where model_id='"+old_model_id+"'")
        except:
            pass

In [16]:
#df = pd.read_csv('titanic.csv')

In [64]:
def getSummary(df):
    n_na = []
    a = df.describe().transpose()[["mean","std","50%","min","max","count"]]
    a = a.rename(columns = {'std':'sd','50%':'median','count':'n'})
    for i in a.index:
        n_na.append(len(df[i])-df[i].count())
    a["n_na"] = n_na
    a["variable"] = a.index
    return a.reset_index(drop = True)

In [66]:
def storeSummary(summary):
    summary["session_id"] = session_id
    summary.to_sql("model_summary", engine,  schema="model_factory", if_exists='append', index = False) ## it will add rows to model_summary table

In [82]:
def pullSummary(session_id):
    if type(session_id) == list:
        session_id = str(session_id).replace('[','').replace(']','')
        check_session_id = pd.read_sql("select * from model_factory.model_summary where session_id in ("+session_id+")", engine)
    if type(session_id) == str:
        check_session_id = pd.read_sql("select * from model_factory.model_summary where session_id in ('"+session_id+"')", engine)
    else:
        raise ValueError('Session id must be of type list or str')
    if len(check_session_id) >0:
        return check_session_id       
    else:
        raise ValueError('Given session_id is not present in model_factory.model_summary table')

In [ ]:
def getTestResults

In [86]:
pullSummary("postgres_try_20161112_399640")

,session_id,variable,mean,sd,median,min,max,n,n_na
0,postgres_try_20161112_399640,passengerid,446.000000,257.353842,446.000000,1.0000,891.0000,891,0
1,postgres_try_20161112_399640,age,29.603610,13.490785,29.328244,0.4200,80.0000,891,0
2,postgres_try_20161112_399640,sibsp,0.523008,1.102743,0.000000,0.0000,8.0000,891,0
3,postgres_try_20161112_399640,parch,0.381594,0.806057,0.000000,0.0000,6.0000,891,0
4,postgres_try_20161112_399640,fare,32.689702,49.607298,14.500000,4.0125,512.3292,891,0
5,postgres_try_20161112_399640,survived_int,0.383838,0.486592,0.000000,0.0000,1.0000,891,0
6,postgres_try_20161112_399640,family,0.904602,1.613459,0.000000,0.0000,10.0000,891,0
7,postgres_try_20161112_399640,train,0.749719,0.433418,1.000000,0.0000,1.0000,891,0

In [81]:
session_id = 'abc'
type(session_id)
#session_id = str(session_id).replace('[','').replace(']','')
#"select * from model_factory.model_summary where session_id in ('"+session_id+"')"

str

In [8]:
#model_id = "try"
#model_description = "try"
#score_id_type = "smth"
#engine = getConnection()
#
#getSessionId(model_id)
#closeSession()